.list {
  height: 70vh;
  width: 100%;

  .title {
    padding-left: 30px;
  }
}
.leading {
  width: 60px;
  display: block;
}
ul {
  list-style: none;
  margin: 0px;
}

.list-tile {
  margin: 8px 0px;
}
